.clientSection {
    height: 100%;
    padding: 140px 0;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(180deg, #134f5c, #76a5af);

    @media screen and (max-width: 768px) {
        padding: 70px 0;
        margin-top: 10rem;
    }
};

.clientTextWrapper {
    position: relative;
    padding: 0 0 20px;
    margin-bottom: 4rem;
    
    &:before {
        width: 40px;
        height: 2px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: orange;
        transform: translateX(-50%);
    }
};

.clientTitle {
    text-align: center;
    font-size: clamp(1.3rem, 13vw, 3.1rem);
    line-height: 1.06;
    letter-spacing: 0.4rem;
};

.clientText {
    margin: 1rem 0 auto;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.73;
    letter-spacing: 0.5px;
    color: #ffffff;

    @media screen and (max-width: 768px) {
        display: none;
    }
};

.clientRow {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
    }
};

.clientColumn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;

    @media screen and (max-width: 1100px) {
        div:not(:first-child) {
            display: none;
        }
    }
};

.clientImage {
    width: 90px;

    @media screen and (max-width: 1100px) {
        width: clamp(80px, 40vw, 400px);
        height: 60%;
    }
};

.clientWrapper {
    padding: 10px 40px;
    border-radius: 1rem;
    height: 110px;
    width: 100%;
    box-shadow: 0 0 32px 8px #dfdfdf;
    background-color: #e4e3e3;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
};
